@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: lighter;
}
.title{

  font-size: medium;
  font-weight: lighter;
}

.Date-time{
  margin-left: 20px;
  margin-top: -100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: lighter;
}

*body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Montserrat', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
        'sidebar header header header'
        'sidebar main main main';
    height: 100vh;
    background-color: azure;
}

/*.icon{
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}*/

.icon_header{
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
}


/*Sidebar*/
#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #ad2cf6;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5;
}
.sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
}
.sidebar-title>span{
    display: none;
}
.sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
.sidebar-list{
    padding:0;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}
.sidebar-list-item{
    padding: 20px 20px 20px 20px;
    font-size: 18px
}
.sidebar-list-item:hover{
    background-color: rgba(255, 255,255,0.2);
    cursor: pointer;
}
.sidebar-list-item>a{
    text-decoration: none;
    color: #9e9ea4
}
.sidebar-responsive{
    display: inline;
    position: absolute;
    z-index: 12 !important;
}
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: -80px 0;
    margin-left: 190px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    width: 220px;
  }
  
  .card:first-child {
    background-color: #bb9f22;
  }
  
  .card:nth-child(2) {
    background-color: #41ab48;
  }
  
  .card:nth-child(3) {
    background-color: #d50000;
  }
  
  /*.card:nth-child(4) {
    background-color: #d50000;
  }*/
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  /*Clock icon with current date-time*/
  .card-inner > .one_card_icon{
    margin-left: 50px;
    font-size: 25px;
    margin-left: 160px;
    margin-top:10px;
    position: sticky;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }

  .about-section{
    margin-top: 100px;
    font-display: center;
    height: 500px;
    
    text-align: center;
    background-color: #0f1c31;
    margin-right: 50%;
  }

  .notes-section{
    margin-top: -500px;
    font-display: left;
    height: 500px;
    text-align: center;
    background-color: #0f1c31;
    margin-left: 52%;
  }


  .Datetime{
    font-size: 15px;
    margin-top: 20px;
    position:static;
  }
  .h2date{
    position:static;
    margin-top: -40px;
  }