/*Css of login page*/

/*Works for the whole page */
* {
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
	font-weight: lighter;
}

.screen {
	background-color: #ffffff;
	height: 100vh;
	width: 100vw;
}

/*ΦΟΡΜΑ ΣΤΟΙΧΕΙΩΝ */
.loginpage .login {
	background: rgb(156, 28, 141) #1b0668;
	border: 2px solid rgb(26, 21, 21);
	border-radius: 10px;
	padding-top: 0px;
	width: 300px;
	height: 400px;
	z-index: 10;
	position: absolute;
	box-shadow: -10px -10px rgb(223, 229, 231);
	top: 210px;
	left: 920px;
}

/*ΠΕΔΙΑ ΦΟΡΜΑΣ */
.loginfield {
	text-align: center;
}
.loginfield input {
	margin: 10px auto;
}

/*ΚΟΥΜΠΙΑ ΦΟΡΜΑΣ  */
.btnbtn-success000 {
	margin-top: 20px;
	text-align: center;
	width: 80px;
	height: 30px;
	background-color: rgb(210, 169, 64);
	border: 2px round rgb(210, 169, 64);
}

.btnbtn-success111 {
	text-align: center;
	width: 80px;
	height: 30px;
	background-color: rgb(210, 169, 64);
	border: 2px round rgb(210, 169, 64);
}

/*TEXT CSS OF LOGIN FIELDS */
.formtexts {
	height: 35px;
	border: round;
	width: 200px;
}

.oxiallo2 {
	text-align: center;
}

.h555 {
	text-align: center;
	font-size: 15px;
	margin-left: -5px;
}
.h3 {
	text-align: center;
	font-size: 30px;
}

.img {
	width: 1300px;
	height: 800px;
	margin-left: 100px;
}
