/*MAP'S PAGE CSS */

/*screen's css */
.map {
	background-color: gainsboro;
}
.root {
	background-color: gainsboro;
}
.header {
	margin-top: 50px;
	margin-left: 10px;
	position: relative;
}
.button {
	position: absolute;
	right: 10px;
	top: 10px;
}
.btn-goto {
	margin-left: 500px;
	margin-bottom: 10px;
	text-align: center;
	-webkit-text-fill-color: gainsboro;
	width: 90px;
	height: 40px;
	background-color: #263043;
	border: 2px round #263043;
	border-radius: 8px;
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
	font-weight: lighter;
}


.pin {
	display: flex;
	align-items: center;
	width: 180px;
	color: var(--main-blue);
	width: 15vw;
}

.pin:hover {
	cursor: pointer;
}

.pin-icon {
	font-size: 4rem !important;
	font-size: 10vw;
}

.pin-text {
	background: rgba(41, 41, 197, 0.9);
	border-radius: 10px;
	padding: 10px;
	font-size: 1.3em;
	color: var(--main-blue);
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
	font-weight: lighter;
}

.formofpins {
	visibility: visible;
	position: absolute;
	margin: 25px;
}

.formofpins select {
	max-width: 200px;
}

.google-map {
	height: 100%;
	margin-left: 250px;
	margin-top: 10px;
	margin-right: 20px;
	height: 94%;
	color:gainsboro;
	
}

.circle {
	background: #ff0000;
	border-radius: 50%;
	color: #fff;
	height: 2.5em;
	position: relative;
	width: 2.5em;
	visibility: visible;
	border: 1px solid transparent;
	position: static;
}

.circleText {
	text-align: center;
	height: 50%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.tootip:hover {
	visibility: visible;
}


